<h3><%= @user.username %></h3>

<h3>Details</h3>
<ul>
  <li><strong>Email:</strong> <%=@user.email%></li>
  <li><strong>Home Language:</strong> <%=@user.home_language%></li>
</ul>

<h3>Posts</h3>
<% if @posts == []%>
  <p>
    <%=@user.username%> has no posts.
  </p>
<%else%>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Snipit</th>
          <th>Published</th>
        </tr>
      </thead>
      <tbody>
    <% @posts.each do |post|%>
        <tr>
          <td><%=link_to post.title, post %></td>
          <td><%=link_to post.category.name, post.category%></td>
          <td><%= truncate(post.content, length: 100)%></td>
          <td><%=post.created_at.strftime('%x ')%></td>
        </tr>
    <%end%>
      </tbody>
    </table>
  </div>
<%end%>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user)%> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
