<h3><%=@post.title%></h3>
  <p>
    <strong>Author:</strong> <%=link_to @post.user.username, @post.user%>
      <br/>
    <strong>Category:</strong> <%=link_to @post.category.name, @post.category%>
      <br/>
    <strong>Originally Published:</strong> <%=@post.created_at.strftime('%x at %I:%M%P')%>
      <br/>
    <strong>Last Updated: </strong><%=@post.updated_at.strftime('%x at %I:%M%P')%>
  </p>

<p>
  <%=markdown(@post.content)%>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_post_path(@post)%>
<% end %>
<% if current_user && @post.user == current_user %>
  | <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
